.ebul_mbvertmenu, .ebul_mbvertmenu ul {
  background-color: #000000;
  border: 1px solid #555555;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 2px;
  position: absolute;
  visibility: hidden;
}

.ebul_mbvertmenu_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_mbvertmenu table {
  border-collapse: separate;
}

.ebul_mbvertmenu tr {
  background-color: #000000;
  cursor: pointer;
  font-size: 1px;
}

.ebul_mbvertmenu td {
  border: 1px solid #000000;
  padding: 3px;
  text-align: left;
}

.ebul_mbvertmenu td a, .ebul_mbvertmenu td a:visited {
  color: #EEEEEE;
  font-family: "Tahoma", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.ebul_mbvertmenu tr.hot, .ebul_mbvertmenu tr.expanded {
  background-color: #B52000;
}

.ebul_mbvertmenu tr.hot td, .ebul_mbvertmenu tr.expanded td {
  border-color: #FFFFFF;
}
.ebul_mbvertmenu tr.hot a, .ebul_mbvertmenu tr.expanded a {
  color: #FFFFFF;
  font-family: "Tahoma", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.ebul_mbvertmenu td div.ebul_mbvertmenuseparator {
  border-top: 1px solid #555555;
  height: 0px;
  font-size: 0;
}

.ebul_mbvertmenu td.ebul_mbvertmenuseparatortd {
  cursor: default;
}


ul.ebul_mbvertmenu {
  position: absolute;
  visibility: hidden;
}                               

.mbvertmenuebul_menulist .spaced_li {
  padding: 0px 0px 8px 0px;
}

.mbvertmenuebul_menulist li {
  list-style: none;
  
}

.mbvertmenuebul_menulist img {
  vertical-align: bottom;
  
}

.mbvertmenuebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
