body {
	background-color: #FFFFFF;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003964;
}
.hidewhenprint { display:none }

a:link {
	color: #003964;
}
a:visited {
	color: #003964;
}
a:hover {
	text-decoration: none;
	color: #4274A7;
}
.TopLogoDiv 
{
	position:absolute;
	top:0px; left:0px;
	height: 60px; width:200px;
	padding-top:14px;
	padding-left:9px;
}



.footer {
	text-decoration: none;
	color: #65798D;
	font-size: 10px;
}
.footer a:link {
	text-decoration: none;
	color: #65798D;
	font-size: 10px;
}
.footer a:visited {
	text-decoration: none;
	color: #65798D;
	font-size: 10px;
}
.footer a:hover {
	text-decoration: underline;
	color: #003964;
	font-size: 10px;
}

.siteIndex {
	text-decoration: none;
}
.siteIndex a:link {
	text-decoration: none;
}
.siteIndex a:visited {
	text-decoration: none;
}
.siteIndex a:hover {
	text-decoration: underline;
}
#link01 {
	color: #78AECF;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	margin-top: 8px;
	line-height: 16px;
}
#link01 a:link {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link01 a:visited {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link01 a:hover {
	text-decoration: none;
	color: #003964;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #003964;
}
#link02 {
	color: #78AECF;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	margin-top: 8px;
	line-height: 16px;
}
#link02 a:link {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link02 a:visited {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link02 a:hover {
	text-decoration: none;
	color: #003964;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #003964;
}
#link03 {
	color: #78AECF;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	margin-top: 8px;
	line-height: 16px;
}
#link03 a:link {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link03 a:visited {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link03 a:hover {
	text-decoration: none;
	color: #003964;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #003964;
}
#link04 {
	color: #78AECF;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	margin-top: 8px;
	line-height: 16px;
}
#link04 a:link {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link04 a:visited {
	text-decoration: none;
	color: #397AA2;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #397AA2;
}
#link04 a:hover {
	text-decoration: none;
	color: #003964;
	padding-left: 6px;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #003964;
}
.copyright {
	font-size: 9px;
	color: #ACBAC7;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
ul li {
	margin: 0px 0px 0px 10px;
	padding: 1px 0em 1px 7px;
	background-image: url(../images/master/bullet_square_small.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
#faqQuestions {
}
#faqQuestions ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#faqQuestions li{
	margin: 5px 0px 0px 10px;
	padding: 4px 0em 5px 7px;
	background-image: url(../images/master/bullet_square_small.gif);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
.copy9 {

	font-size: 9px;
}
.copy11 {
	font-size: 11px;
}
.rsdupper
{
	 text-transform:uppercase;	
}
.rsdError
{
	font-size: 11px;
	color:Red;
}

.copyGrey {
	color: #717171;
}
.lineRuleBlue {
	height: 1px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 6px;
	border: 1px solid #BFD0DE;
}
.rsdlineRuleBlue {
	height: 1px;
	width: 100%;
	border: 1px solid #BFD0DE;
}
.hd1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}
